<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ugv">
<xacro:property name="mainBody" value= "package://ugv/mesh/mainBodyv2.obj"/>
<xacro:property name="wheel" value= "package://ugv/mesh/tyrev2.obj"/>
<xacro:property name="scale" value = "0.01 0.01 0.01"/>

<xacro:macro name="wheel" params="name">
    <link name="${name}">
    <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="${wheel}" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="black"/>
    </visual>   
</link>
</xacro:macro>

<xacro:wheel name="wheelBL"/>
<xacro:wheel name="wheelFL"/>
<xacro:wheel name="wheelFR"/>
<xacro:wheel name="wheelBR"/>

<material name="black">
    <color rgba="1 1 1 1.0"/>
</material>

<material name="grey">
    <color rgba="1 0.0 0.0 1.0"/>
</material>

<link name="base_link">  
    <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="${mainBody}" scale= "0.01 0.01 0.01"/>
        </geometry>
        <material name="grey"/>
    </visual>
</link>


<joint name="mainBody_WheelBL" type="fixed">
    <parent link="base_link"/>
    <child link="wheelBL"/>
    <origin xyz="-0.07 0.057 0.010" rpy="0.0 0.0 0.0"/>  
</joint>

<joint name="mainBody_WheelFL" type="fixed">
    <parent link="base_link"/>
    <child link="wheelFL"/>
    <origin xyz="0.07 0.057 0.010" rpy="0.0 0.0 0.0"/>  
</joint>

<joint name="mainBody_WheelFR" type="fixed">
    <parent link="base_link"/>
    <child link="wheelFR"/>
    <origin xyz="0.07 -0.048 0.010" rpy="0.0 0.0 0.0"/>  
</joint>

<joint name="mainBody_WheelBR" type="fixed">
    <parent link="base_link"/>
    <child link="wheelBR"/>
    <origin xyz="-0.07 -0.048 0.010" rpy="0.0 0.0 0.0"/>  
</joint>

</robot>

    